<div class="banners">
  <ng-template ngFor [ngForOf]="bannerImgs" let-banner>
    <img [src]="banner" alt="Image 1" class="banner-img" />
  </ng-template>
  <div class="navigation-button">
    <ng-template ngFor [ngForOf]="bannerImgs" let-banner let-idx="index">
      <span class="dot banner-dot" [class.active]="idx === 0" (click)="changeSlide(idx)"></span>
    </ng-template>
  </div>
</div>
