.banners {
  width: 100%;
  height: 500px;
  position: relative;
}
.banners img {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.banners img:first-child {
  opacity: 1;
}

.banners img:nth-child(2) {
  opacity: 0;
}

.banners img:nth-child(3) {
  opacity: 0;
}

.navigation-button {
  display: flex;
  gap: 18px;
  text-align: center;
  position: absolute;
  z-index: 5;
  right: 20px;
  top: 30px;
}

.dot {
  cursor: pointer;
  height: 8px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active,
.dot:hover {
  background-color: #717171;
}
