.navBar-wrapper {
  display: flex;
  padding: 0 48px;
  height: 80px;
  .left {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    .search-icon {
    }

    .search-input {
      background-color: #181818;
      border: none;
      color: #b4bac7;
      padding: 8px 12px;
      width: 100%;
      font-size: 18px;

      &:focus-visible {
        outline: none !important;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;

    .action {
      cursor: pointer;
      padding: 8px 16px;
      &:hover {
        opacity: 0.7;
      }
    }

    .send-request {
      display: flex;
      min-width: 110px;
      gap: 6px;
      border-radius: 6px;
      background-color: #f95043;

      color: #fff;
    }
    .profile {
      i {
        font-size: 26px;
      }
    }
    .lang {
      display: flex;
      cursor: pointer;

      &:hover {
        color: #f95043;
      }
    }
    .filter {
      display: flex;
      gap: 6px;
      min-width: 70px;
    }
  }
}

.sendRequest-modal {
  padding: 12px 24px;
  .title {
    font-size: 15px;
    text-align: center;
    margin-bottom: 8px;
    color: #ffff;
  }
  .description {
    font-size: 13px;
    text-align: center;
    margin-bottom: 50px;
  }
  .field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 18px 0;
    .label {
      font-size: 14px;
    }
    .input-field {
      background-color: #e6e6e6;
      padding: 10px 16px;
      border: none;
      border-radius: 8px;
      font-size: 15px;
    }
  }

  .footer {
    display: flex;
    justify-content: flex-end;

    .submit {
      padding: 10px 16px;
      color: #fff;
      min-width: 80px;
      background-color: #f95043;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        box-shadow: 0px 1px 4px #fa1b0b;
      }
    }
  }
}
