<div class="navBar-wrapper">
  <div class="left">
    <i class="search-icon fa-solid fa-magnifying-glass"></i>
    <input class="search-input" [placeholder]="'search' | translate" />
  </div>
  <div class="right">
    <div class="filter action">
      <i class="fa-solid fa-filter"></i>
      {{ 'filter' | translate }}
    </div>
    <div class="send-request action" (click)="onClickSendRequest()">
      <i class="fa-solid fa-circle-arrow-up"></i>
      {{ 'send-request' | translate }}
    </div>
    <div class="profile action">
      <i class="fa-regular fa-circle-user"></i>
    </div>
    <div class="lang">
      <div class="span" (click)="toggleChangeLang()" *ngIf="selectedLang === 'vi'">VI</div>
      <div class="span" (click)="toggleChangeLang()" *ngIf="selectedLang === 'en'">EN</div>
    </div>
  </div>
</div>
<app-modal [isOpen]="isOpenModal" (closeEvent)="onClickCloseModal()">
  <div class="sendRequest-modal">
    <div class="title">{{ 'send-request-title' | translate }}</div>
    <div class="description">{{ 'send-request-desc' | translate }}</div>
    <div class="field">
      <div class="label">{{ 'song-name' | translate }}</div>
      <input class="input-field" [placeholder]="'place-holder-song-name' | translate" />
    </div>
    <div class="field">
      <div class="label">{{ 'artist-name' | translate }}</div>
      <input class="input-field" [placeholder]="'place-holder-artist-name' | translate" />
    </div>
    <div class="footer">
      <div class="submit" (click)="onClickCloseModal()">{{ 'send-request' | translate }}</div>
    </div>
  </div>
</app-modal>
