<div class="modal" *ngIf="isOpen" (click)="onModalOutsideClick($event)">
  <div class="modal-content" (click)="onModalContentClick($event)">
    <span class="btn-close" (click)="close()">&times;</span>
    <ng-content></ng-content>
  </div>
</div>
