.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-open {
  overflow: hidden;
}

.modal-content {
  background-color: #181818;
  width: 500px;
  height: 300px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
  animation: openModal 0.5s ease;

  &.hidden {
    animation: closeModal 0.7s ease;
  }

  .btn-close {
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 20px;

    &:hover {
      opacity: 0.7;
    }
  }
}

@keyframes openModal {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes closeModal {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-100%);
    opacity: 0;
    display: none;
  }
}
