.sideBar {
  background-color: #121212;
  height: 100vh;
  color: #b4bac7;

  & .logo {
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #a7a7a7;
    height: 80px;
  }

  & .item {
    margin-top: 24px;
    & .items {
      & .content {
        display: flex;
        padding: 12px 30px;
        gap: 12px;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          opacity: 0.6;
        }

        & .icon {
          color: #f95043;
          overflow: hidden;
        }
      }

      & .child {
        & .item-child {
          padding: 12px 80px;
          cursor: pointer;

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }
  }

  .bold {
    color: #fff;
  }
}
