<div class="sideBar">
  <div class="logo bold">Logo</div>
  <div class="item">
    <div class="items">
      <div class="content">
        <i class="icon fa-solid fa-house"></i>
        <div class="bold">HOME</div>
      </div>
      <div class="child">
        <div class="item-child bold">Jpop</div>
        <div class="item-child">Anime</div>
      </div>
    </div>
    <div class="items">
      <div class="content">
        <i class="fa-solid fa-chart-simple"></i>
        <div class="">VOICE CHART</div>
      </div>
    </div>
    <div class="items">
      <div class="content">
        <i class="fa-regular fa-heart"></i>
        <div class="">{{ 'favorite' | translate | uppercase }}</div>
      </div>
    </div>
    <div class="items">
      <div class="content">
        <i class="fa-solid fa-music"></i>
        <div class="">MY PLAYLIST</div>
      </div>
    </div>
    <div class="items">
      <div class="content">
        <i class="fa-regular fa-clock"></i>
        <div class="">{{ 'history' | translate | uppercase }}</div>
      </div>
    </div>
    <div class="items">
      <div class="content">
        <i class="fa-solid fa-gear"></i>
        <div class="">{{ 'setting' | translate | uppercase }}</div>
      </div>
    </div>
    <div class="items">
      <div class="content">
        <i class="fa-solid fa-circle-info"></i>
        <div class="">ABOUT US</div>
      </div>
    </div>
  </div>
</div>
