.wrapper {
  display: flex;
  position: relative;
  color: #b4bac7;

  .wrapper-left {
    flex: 1;
    position: relative;
    .sideBar {
      position: sticky;
      top: 0;
      right: 0;
    }
  }

  .wrapper-right {
    flex: 4;
    position: relative;

    .navBar {
      background-color: #181818;
      width: 100%;
      position: sticky;
      height: 80px;
      top: 0;
      right: 0;
      z-index: 10;
      opacity: 1;
    }
  }

  .content {
    background-color: #181818;
    .show {
      padding: 30px 48px 130px 48px;
    }

    .slide-item {
      cursor: pointer;

      &:hover {
      }
    }

    .voice-chart {
      margin-bottom: 50px;
    }

    .artists {
      .artists-item {
        padding: 10px 10px;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 8px;

        &:hover {
          box-shadow: 0px 1px 4px #000000;
        }

        & + .artists-item {
          margin-left: 10px;
        }

        .image {
          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 50%;
          }
        }

        .info {
          .name {
            color: #fff;
            font-size: 16px;
          }

          .music-type {
            font-size: 14px;
            margin-top: 5px;
          }
        }
      }
    }

    .albums {
      .album-item {
        border-radius: 10px;
        &:hover {
          box-shadow: 0px 1px 4px #000000;
        }
        .image {
          img {
            width: 100%;
            border-radius: 10px;
          }
        }
        .info {
          padding: 8px 0 16px 8px;
          height: 55px;

          .name {
            color: #fff;
            margin: 6px 0;
            font-size: 15px;
          }

          .author {
            font-size: 13px;
          }
        }
      }
    }

    .recommend {
      margin: 25px 0;
      &-item {
        box-shadow: 0px 1px 4px #100e15;
        border-radius: 10px;

        &:hover {
          box-shadow: 0px 3px 6px #100e15;
        }

        .image {
          width: 100%;
          height: 280px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 10px;
          }
        }

        .info {
          min-height: 80px;
          padding: 0 16px;
          .name {
            margin: 10px 0;
            color: #fff;
            font-size: 15px;
          }
          .author {
            font-size: 13px;
          }
        }
      }
    }

    .popular-tags {
      .title {
        margin-bottom: 15px;
        color: #fff;
        font-size: 24px;
        font-weight: bold;
      }
      .list-tag {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;

        .tag {
          background-color: #1c1b1b;
          border-radius: 25px;
          padding: 10px 16px;
          min-width: 80px;
          text-align: center;
          cursor: pointer;

          &:hover {
            box-shadow: 0px 1px 4px #151010;
          }
        }
      }
    }

    .footer {
      padding: 30px 48px;
      border-top: 1px solid #4c4c4c;
      display: flex;
      font-size: 15px;

      .left {
        flex: 1;
      }

      .right {
        flex: 1;
        display: flex;
        gap: 25px;
        justify-content: flex-end;
        .actions {
          display: flex;
          gap: 35px;
          font-size: 14px;
          color: #fff;
          font-weight: bold;

          div {
            cursor: pointer;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
