<div class="app">
  <div class="wrapper">
    <div class="wrapper-left">
      <div class="sideBar">
        <app-side-bar></app-side-bar>
      </div>
    </div>
    <div class="wrapper-right">
      <div class="navBar">
        <app-nav-bar></app-nav-bar>
      </div>
      <div class="content">
        <div class="banner">
          <app-banner></app-banner>
        </div>
        <div class="show">
          <div class="artists" #artistSlide>
            <app-slide [slideItems]="artistItems" [numberSlideShow]="4" [slideTitle]="'artist' | translate">
              <ng-template ngFor [ngForOf]="artists" let-artist>
                <div class="slide-item">
                  <div class="artists-item">
                    <div class="image">
                      <img [src]="artist.avt" />
                    </div>
                    <div class="info">
                      <div class="name">{{ artist.name }}</div>
                      <div class="music-type">{{ artist.musicType }}</div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </app-slide>
          </div>
          <div class="albums" #albumSlide>
            <app-slide [numberSlideShow]="6" [slideItems]="albumItems" [slideTitle]="'album-outstanding' | translate">
              <ng-template ngFor [ngForOf]="albums" let-album>
                <div class="slide-item">
                  <div class="album-item">
                    <div class="image">
                      <img [src]="album.img" />
                    </div>
                    <div class="info">
                      <div class="name">{{ album.name }}</div>
                      <div class="author">{{ album.author }}</div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </app-slide>
          </div>
          <div class="voice-chart">
            <app-chart title="Voice Chart" [listItem]="voiceChart"></app-chart>
          </div>
          <div class="recommend" #recommend>
            <app-slide [numberSlideShow]="4" [slideItems]="recommendItems" [slideTitle]="'recommend' | translate">
              <ng-template ngFor [ngForOf]="albums" let-album>
                <div class="slide-item">
                  <div class="recommend-item">
                    <div class="image">
                      <img [src]="album.thumb_img" />
                    </div>
                    <div class="info">
                      <div class="name">{{ album.name }}</div>
                      <div class="author">{{ album.author }}</div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </app-slide>
          </div>
          <div class="recommend" #new>
            <app-slide [numberSlideShow]="4" [slideItems]="newItems" [slideTitle]="'new' | translate">
              <ng-template ngFor [ngForOf]="albums" let-album>
                <div class="slide-item">
                  <div class="recommend-item">
                    <div class="image">
                      <img [src]="album.thumb_img" />
                    </div>
                    <div class="info">
                      <div class="name">{{ album.name }}</div>
                      <div class="author">{{ album.author }}</div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </app-slide>
          </div>
          <div class="popular-tags">
            <div class="title">Popular Tag</div>
            <div class="list-tag">
              <ng-template ngFor [ngForOf]="tags" let-tag>
                <div class="tag">
                  {{ tag }}
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="footer">
          <div class="left">Copyright @2016 PiPop.net . All Right Reserved</div>
          <div class="right">
            <div class="actions">
              <div class="service">{{ 'terms-of-service' | translate }}</div>
              <div class="contact">{{ 'contact' | translate }}</div>
              <div class="help">{{ 'help' | translate }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
