.sliders {
  max-width: 1000px;
  height: 100%;
  overflow: hidden;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-left: 2px;
  .top {
    display: flex;
    margin-bottom: 15px;
    .title {
      color: #fff;
      font-size: 24px;
      font-weight: bold;
      flex: 1;
    }

    .actions {
      flex: 1;
      justify-content: flex-end;
    }
  }

  .list-item {
    width: 100%;
    display: flex;
    margin-left: 0;
    transition: margin-left 1s ease;

    .slide-item + .slide-item {
      margin-left: 10px;
    }
  }

  .actions {
    display: flex;
    gap: 20px;

    .actions-prev,
    .actions-next {
      padding: 8px 12px;
      background-color: #fff;
      border-radius: 8px;
      cursor: pointer;
      i {
        color: #ccc;
      }
      &.active i {
        color: orangered;
      }
    }
  }
}
