<div class="sliders">
  <div class="top">
    <div class="title">{{ slideTitle }}</div>
    <div class="actions">
      <div class="actions-prev" [class.active]="hasPrev" (click)="onClickPrev()">
        <i class="fa-solid fa-chevron-left"></i>
      </div>
      <div class="actions-next" [class.active]="hasNext" (click)="onClickNext()">
        <i class="fa-solid fa-chevron-right"></i>
      </div>
    </div>
  </div>
  <div class="list-item">
    <ng-content></ng-content>
  </div>
</div>
