.chart {
  .title {
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 25px;
  }
  .content {
    display: flex;
    gap: 25px;
    .left {
      flex: 1;
      max-height: 390px;
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 6px;
        background-color: #181818;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #f95043;
        border-radius: 10px;
      }

      &::-webkit-scrollbar-track {
        background-color: #181818;
        border-radius: 12px;
      }

      .chart-item {
        display: flex;
        gap: 8px;
        padding: 8px 14px;
        cursor: pointer;

        &.active {
          background-color: #333333;
        }

        &:hover {
          background-color: #535353;
        }
        img {
          width: 100px;
          height: 80px;
          border-radius: 10px;
          object-fit: cover;
        }

        .views {
          flex: 1;
          text-align: center;
          font-size: 13px;
        }

        .status {
          min-width: 10px;
          .increase {
            i {
              color: #5db24d;
            }
          }
          .decrease {
            i {
              color: #f95043;
            }
          }
        }

        .number {
          margin-right: 15px;
        }

        .info {
          margin-left: 10px;
          flex: 1;

          .name {
            font-size: 15px;
            color: #fff;
            font-weight: bold;
            margin-bottom: 5px;
          }

          .author {
            font-size: 13px;
          }
        }
      }
    }
    .right {
      flex: 1;

      .img-selected {
        width: 100%;
        height: 100%;
        max-height: 390px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}
