<div class="chart">
  <div class="title">{{ title }}</div>
  <div class="content">
    <div #chart class="left" (scroll)="onScroll($event)">
      <ng-template ngFor [ngForOf]="listItem" let-item let-idx="index">
        <div class="chart-item active" [class.active]="showingItem?.id === item.id" (click)="onSelect(item)">
          <div class="number">{{ idx + 1 }},</div>
          <div class="status">
            <div class="increase" *ngIf="item.increase">
              <i class="fa-solid fa-caret-up"></i>
            </div>
            <div class="decrease" *ngIf="item.decrease">
              <i class="fa-solid fa-caret-down"></i>
            </div>
          </div>
          <div class="image">
            <img [src]="item.img" />
          </div>
          <div class="info">
            <div class="name">{{ item.name }}</div>
            <div class="author">{{ item.author }}</div>
          </div>
          <div class="views">{{ item.views + ' ' + ('view' | translate) }}</div>
        </div>
      </ng-template>
    </div>
    <div class="right">
      <img class="img-selected" [src]="showingItem?.thumb_img" alt="" />
    </div>
  </div>
</div>
